/* General Styles */
.featuredProjects {
  padding: 4rem 6rem;
  background-color: #f4f4f4;
  text-align: center;
}

.featuredProjects h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #292828;
  animation: fadeInDown 1s ease-in-out;
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.projectCard {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffffff;
  text-align: center;
}

.projectCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.projectImage {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

.projectContent {
  padding: 1rem;
}

.projectContent h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.projectContent p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

.projectLink {
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.projectLink:hover {
  color: #0056b3;
}

/* Animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .featuredProjects {
    padding: 2rem;
  }
}
